---
import {SEO} from "astro-seo"
import Navbar from "../components/Navbar.astro";
const { title, seoTitle, seoDesc } = Astro.props;

---

<!doctype html>
<html lang="fr">
	<head>
		<SEO title={seoTitle} description={seoDesc} />

		<meta charset="UTF-8" />
		<meta name="description" content="Rafaele Sinaguglia" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Varela+Round&display=swap" rel="stylesheet">
	</head>
	<body class="bg-dark-blue text-white mx-[16px] tablet:mx-[100px] desktop:mx-[215px]">
		<Navbar/>		
		<slot />
		<style>
			body{
				font-family: "League Spartan","Varela Round", sans-serif;
			}
		</style>
		*

		<script>
			import Typed from 'typed.js';
			var typed = new Typed('#element', {
			  strings: ['jeune développeur Full Stack et webdesigner, création de site web sur mesure avec passion'],
			  typeSpeed: 20,
			});
		  </script>
	</body>
</html>
